body {
  background: url(Images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #b3b3b3;
}
label,h2,h1,h5{
  color: #DD4814;
}

select,option{
  background-color: #4c4c4c;
  border: 1px solid #666666;
  color: #FFF;
}
input{
  background-color: #4c4c4c;
  border: 1px solid #666666;
  color: #F6F6F5;
}

a{
  color: #FFF;
}
td > a{
  color: #F7C04A;    
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: linear-gradient(to left,rgba(21,21,21,0),rgba(224,90,43,25),rgba(0,0,0,0));
}
textarea{
  background-color: #4c4c4c;
  border-color: #FF7606;
}
/*equipment popup */
.popover-title{
  background-image: linear-gradient(to bottom,#3b3b3b 0,#242424 100%);
  border-bottom: 1px solid rgb(197, 82, 41);
}
.popover {
  background-color: #3B3B3B;
  border: 1px solid rgb(197, 82, 41);
}
a:focus, a:hover {
    color: #E89A46;
    text-decoration: underline;
}

.error {color: #FF0000;}
.navbar{ /*navbar size */
  width: 1320px;
  text-align: center;
  margin: 0 auto;
}
/*end*/

.dropdown-toggle{ /*when nav bar is click*/
  background-image: linear-gradient(to bottom,#3b3b3b 0,#242424 100%);
  width: 162px;
  text-align: center;
  margin: 1px;
}

.dropdown-menu li>a{
  color: #FFF;

}
.dropdown-menu{ /*for the dropdown-menu list*/
  background-color: #3b3b3b;

}

.dropdown ul>li>a:hover,
.dropdown ul>li>a:focus{
  color: #FFF;
  box-shadow: 0 0 5px 1px #FF7606;
  background-image: linear-gradient(to bottom,#3b3b3b 0,#242424 100%);
}



.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover
{
  color: #F7A800;
  box-shadow: 0 0 5px 1px #F7A800;
  border: none;
}

.dropdown > a:hover,
.dropdown-toggle > a:hover,
.dropdown > a:focus,
.dropdown-toggle > a:focus { // hover glow for nav bar
  -moz-box-shadow: 0 0 5px 1px #F7A800;
  -webkit-box-shadow: 0 0 5px 1px #F7A800;
  box-shadow: 0 0 5px 1px #F7A800;
  color: #F7A800;
  background-image: linear-gradient(to bottom,#3b3b3b 0,#242424 100%);
}

/*VVVVVVVVlookup tableVVVVVVVVV*/
.panel-default>.panel-heading {
  background-image: linear-gradient(to bottom,#3b3b3b 0,#242424 100%);
  color:#f5f5f5;
  border: 1px solid #3b3b3b;
  background-color: #3b3b3b;
}
.panel-body {
  background-color: #3b3b3b;
  color: #f5f5f5;
  text-decoration:none;
}
.form-control, .input-sm {
  background-color: #4c4c4c ;
  color: #F6F6F5 ;
  border: 1px solid #FF7606;
}
.dataTable_wrapper{
  border-color: #ca542a;
}
td,tr{
  color:#f5f5f5;
  background-color: #4c4c4c;
  border: 2px solid #c55229;
}
.panel-default {
  border-color: #000;
}
/*^^^Loopup Table^^^^^^^*/

/* input focus color change*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border: 1px solid #FF7606;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175) inset, 0 0 8px rgba(253, 154, 2, 0.7);
  outline: 0 none;
}

.btn-search {
  background-color: #4c4c4c;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  border-color: #000000;
}
.btn-search:hover,
.btn-search:focus {
  color: #fff;
  background-color: #DD4814;
  border-color: #E05A2B;
}
.btn-query {
  background-color: #4c4c4c;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  border-color: #772953;
}
.btn-query:hover,
.btn-query:focus {
  color: #fff;
  background-color: #DD4814;
  border-color: #E05A2B;
}


#search{
  color: #F6F6F5;
  background: #333333;
  border: 2px solid #191919;
  height: 50px;
  padding-top: 10px;
  border-radius: 5px;
}
